<section class="price" id="price">
  <div class="container priceFlex">
    <div class="price__description">
      <h2 class="price__header topHeader">
        Стоимость
      </h2>
      <ul class="price__list">
        <li class="price__item">
          <p class="price__text">консультация</p>
          <span class="price__line"></span>
          <p class="price__num">2000</p>
        </li>
        <li class="price__item">
          <p class="price__text">онлайн консультация</p>
          <span class="price__line"></span>
          <p class="price__num">2800</p>
        </li>
        <li class="price__item">
          <p class="price__text">консультация<br>в рамках терапии</p>
          <span class="price__line"></span>
          <p class="price__num">1800</p>
        </li>
      </ul>
    </div>
    <div class="price__form">
      <form action="" class="price__form">
        <h2 class="price__form_header">Задайте вопрос</h2>
        <p class="price__form_desc">Оставьте ваши контакты для связи</p>
        <input type="text" class="price__name" placeholder="Ваше имя">
        <input type="tel" class="price__phone" placeholder="Ваше номер телефона"
               prefix="+7"
               mask="(000) 000 00 00">
        <textarea class="price__quest" placeholder="Ваш вопрос" rows="6"></textarea>
        <input type="button" class="btnLight" value="Отправить">
      </form>
    </div>
  </div>
</section>
