<section class="about" id = "about">
  <img src="assets/img/aboutTrans.png" alt="" class="about__img">
  <div class="about__desc">
    <h2 class="about__head topHeader">
      Обо мне
    </h2>
    <ul class="about__list">
      <li class="about__item">
        <p class="about__header">Меня зовут Мария</p>
        <p class="about__text">Я практикую более 6 лет. В консультировании опираюсь на
          <br>гештальт подход. Со мной вам будет свободно и безопасно.
          <br>Окажу поддержку при утрате и в проживании кризиса.
          <br>Помогу вам безопасно и экологично проживать
          <br>сложные чувства и эмоции в моменте.</p>
      </li>
      <li class="about__item">
        <p class="about__header">Образование</p>
        <p class="about__text">Высшее психологическое - магистр психологии (КубГУ),
          <br>клинический психолог, детский психолог
          <br>Мои дипломы и сертификаты можно посмотреть здесь</p>
      </li>
    </ul>
  </div>
</section>
