.hero{

  color: var(--darkBrown);
}
.heroFlex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero__header{
  font-size: var(--fHeaderFontSize);
  font-family: "Zona Pro Thin";
  margin-bottom: 50px;
}
.hero__text{
  font-size: var(--menuFontSize);
  font-family: "Zona Pro Thin";
  margin-bottom: 65px;
}
.hero__img{
  height: 500px;
}

