nav a{
  color: var(--white);
  font-size: var(--textSize);
}
.menu{
  padding-bottom: 25px;
  padding-top: 25px;
  padding-right: 140px;
  background: linear-gradient(75deg, var(--lightBrown) 0%, var(--darkBrown) 100%);
  display: flex;
  justify-content: space-between;
}
.menu__list{
  display: flex;
  justify-content: space-around;
  width: 1088px;
}
.menu__item{

}
nav{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 10px 15px -5px rgba(34, 60, 80, 0.05);
}
