<section class="work" id = "work">
  <div class="container workFlex">
    <h2 class="work__head topHeader">C чем я работаю</h2>
    <ul class="work__list">
      <li class="work__item">
        <p class="work__header">внутренние состояния</p>
        <p class="work__desc">тревожность<br>кризисы<br>неопределенность<br>отсутствие энергии и мотивации
        </p>
      </li>
      <li class="work__item">
        <p class="work__header">детско-родительские отношения</p>
        <p class="work__desc">завершение эмоциональной сепарации от родителей<br>обретение навыков удерживать эмоциональные границы
        </p>
      </li>
      <li class="work__item">
        <p class="work__header">личностный рост</p>
        <p class="work__desc">повысить самооценку<br>научится осознавать ответственность<br>за собственную жизнь<br>найти внутренние опоры
        </p>
      </li>
      <li class="work__item">
        <p class="work__header">отношения в паре</p>
        <p class="work__desc">выйти из повторяющихся сценариев<br>и любовной зависимости</p>
      </li>
    </ul>
  </div>

</section>
